@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Slab&display=swap');

body,
html {
    margin: 0;
    height: 100%;
    background-image: url("Imagenes/ultra2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

header {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);

}

img.header-title {
    width: 200px;
    height: 140px;
}

nav {
    color: white;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    width: 100%;
    border: 2px solid black;
    background: rgb(18, 68, 107);
    background: linear-gradient(90deg, rgba(18, 68, 107, 1) 0%, rgba(14, 92, 184, 1) 50%, rgba(0, 183, 246, 1) 100%);
}

i {
    padding-right: 10px;
}

div.icons-div {
    display: inline-block;
    color: white;
}

a.nav-a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

a.nav-a:hover {
    color: #0a6ff1;
}

div.section-title {
    font-style: italic;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    text-shadow: 3px 3px 3px black;
}

section {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Consolas', monospace;
    color: whitesmoke;
    text-shadow: 5px 3px 3px black;
    float: left;
    font-weight: bold;
    font-size: 18px;
    width: 77%;
    padding: 10px;
    text-align: left;
    z-index: 2;
    min-height: 1107px;
    overflow: hidden;
}

hr {
    border-top: 4px solid whitesmoke;
}

div.new-collection{
    display: flex;
    justify-content: center;
}

div.new-collection-div{
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
}


img.new-collection-img{
    width: 300px;
    height: 350px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: #C9CDE5;
}

img.new-collection-img1{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

h4.new-collection-title{
    margin: 0;
}

span.new-collection-description{
    font-size: 15px;
    color: rgb(158, 158, 158);
    margin: 0;
}

span.new-collection-price{
    font-size: 18px;
    margin: 0;
}

img.new-collection:hover{
    display: inline;
}


aside {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    font-family: 'Consolas', monospace;
    float: right;
    font-size: 18px;
    z-index: 2;
    width: 23%;
    padding: 15px;
    text-align: center;
    border: 2px solid white;
    min-height: 1107px;
    overflow: hidden;
}

div.aside-title {
    font-style: italic;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    text-shadow: 3px 3px 3px black;
    font-family: 'Roboto Slab', serif;
}

hr.aside-hr {
    border-top: 1px solid whitesmoke;
    margin: 15px;
}

div.aside-p {
    border: 2px solid white;
    color: rgb(158, 158, 158);
}

span {
    color: whitesmoke;
    font-size: 20px;
    line-height: 2;
}

footer{
    color: white;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    width: 100%;
    display: flex;
    border: 2px solid black;
    background: rgb(18, 68, 107);
    background: linear-gradient(90deg, rgba(18, 68, 107, 1) 0%, rgba(14, 92, 184, 1) 50%, rgba(0, 183, 246, 1) 100%);
}

div.copy-div-footer{
    width: 50%;
    font-size: 15px;
}

div.media-div-footer{
    width: 50%;
    display: flex;
    justify-content: right;
    margin-top: 11px;
}

img.img-icons{
    width: 30px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

a.foot-a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

a.foot-a:hover{
    color: #06489e;
}